.baners {
    @include clearfix;
    position: relative;
}

.baners-box {}

.baner-nav {
    position: absolute;
    width: 30px;
    height: 180px;
    top: calc(50% - 45px);
    z-index: 4;
    background-size: 30px 180px !important;
    cursor: pointer;
    &--prev {
        left: 20px;
        background: url(/static/images/baner-prev.png);
        &:hover {
            background: url(/static/images/baner-prev-hover.png);
        }
    }
    &--next {
        right: 20px;
        background: url(/static/images/baner-next.png);
        &:hover {
            background: url(/static/images/baner-next-hover.png);
        }
    }
}

a.baner {
    display: block;
}
.baner {
    height: calc(100vh - 80px);
    background-position: center center !important;
}
