$base-paddings-for-header: 20px;

@mixin panel-width {
    // variables from base-block mixin
    @include bp(allsmall) {
        width: calc(100% - (#{$base-block-padding-small} * 2));
    }
    @include bp(md) {
        width: calc(100% - (#{$base-block-padding-medium} * 2));
    }
    @include bp(lg) {
        width: calc(100% - (#{$base-block-padding-large} * 2));
    }
}

.base-header {
    @include basic-block;
    padding-top: $base-paddings-for-header;
    padding-bottom: $base-paddings-for-header;
    @include flex;
    align-items: center;
    height: 40px;
    @include panel-width;
    @include transition(all, 0.3s, ease);
    background-color: white;
    &--fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        @include panel-width;
        transform: translate(0, -100%);
        box-shadow: 1px 2px 4px #ECECEC;
    }
    &--fixed-active {
        transform: translate(0, 0);
        @include panel-width;
        z-index: 999;
    }
}

.main-nav {
    @include flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.search {
    float: right;
    &__input {
        padding: 5px 10px;
        margin: 0;
        @include font-size(16);
    }
    @include bp(allsmall) {
        display: none;
    }
    @include bp(md) {
        display: none;
    }
}

.catalogue {
    float: right;
    color: white;
    background-color: $button-color;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 4px;
    box-sizing: border-box;
    @include no-select;
    &--active {
        background-color: $button-color-hover;
    }
    &:hover {
        background-color: $button-color-hover;
    }
}
