$base-paddings-for-header: 20px;

.base-header {
    @include basic-block;
    padding-top: $base-paddings-for-header;
    padding-bottom: $base-paddings-for-header;
    @include flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    @include transition(all, 0.3s, ease);
    background-color: white;
    box-shadow: 1px 2px 4px #ECECEC;
    &--fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        transform: translate(0, -100%);
    }
    &--fixed-active {
        transform: translate(0, 0);
        z-index: 999;
    }
}

.main-nav {
    @include flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.search {
    float: right;
    &__trigger {
        cursor: pointer;
        &--active {
            // color: $link-color;
            color: white;
            position: fixed;
            z-index: 9999;
        }
    }
    &__close {
        display: none;
        &--active {
            @include inline-middle;
        }
    }
    @include bp(allsmall) {
        display: none;
    }
    @include bp(md) {
        display: none;
    }
}

.catalogue {
    float: right;
    color: white;
    background-color: $button-color;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 4px;
    box-sizing: border-box;
    @include no-select;
    @include bp(allsmall) {
        padding: 0px 4px;
        @include font-size(16);
    }
    &--active {
        background-color: $button-color-hover;
    }
    &:hover {
        background-color: $button-color-hover;
    }
}
