.catalogue-block {
    @include basic-block;
    position: fixed;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    background-color: #A9362A;
    @include flex;
    display: none;
    &--active {
        display: block;
    }
    color: white;
    a {
        color: white;
    }
}

.catalogue-block-wrap {
    display: flex;
}

.catalogue-main-nav {
    background-color: #AF4B41;
    flex: 0 0 240px;
    color: white;
    padding: 10px 0;
    &__item + &__item {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
    &__item {
        display: block;
        color: white;
        text-decoration: none;
        padding: 0 15px;
    }
}

.catalogue-main-content {
    flex: auto;
    padding: 10px;
}
