.catalogue-block {
    @include basic-block;
    position: fixed;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    @include flex;
    display: none;
    &--active {
        display: block;
    }
    color: white;
}

.catalogue-block-wrap {
    display: flex;
}

.catalogue-main-nav {
    background-color: #F7F7F7;
    flex: 0 0 240px;
    color: white;
    padding: 10px 0;
    &__item + &__item {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #E8E8E8;
    }
    &__item {
        display: block;
        color: #363636;
        text-decoration: none;
        padding: 0 15px;
        &--active {

        }
        &:nth-last-child(1) {
            border-bottom: 1px solid rgba(80, 80, 80, 0.15);
            padding-bottom: 10px;
        }
    }
}

.catalogue-main-content {
    flex: auto;
    padding: 10px;
}

.cat-previews {
    display: flex;
}

.cat-preview {
    flex: 0 0 25%;
    text-align: center;
    line-height: 1.2;
    + .cat-preview {
        margin-left: 10px;
    }
    text-decoration: none;
    background-color: white;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
    &__image {
        max-height: 80px;
        margin: auto;
    }
    &__text {
        display: block;
        margin-top: 8px;
        @include font-size(16);
        color: #363636;
    }
}
