.filter-box {
    + .filter-box {
        margin-top: 10px;
        padding-top: 10px;
    }
}

.toggle-filters {
    @include clear-list;
    margin-left: -6px;
    margin-right: -6px;
}

.toggle-filter {
    @include inline-middle;
    text-decoration: none;
    @include font-size(16);
    color: #363636;
    padding: 4px 6px;
    line-height: 1;
    border-radius: 3px;
    &--active {
        background-color: $button-color-hover;
        color: $button-text-color;
        &:after {
            // todo change the 'x' to utf8 symbol
            content: 'x';
            color: rgba(0, 0, 0, .4);
        }
    }
}

.price-range {
    &__label {
        @include font-size(16);
    }
}
