// got this css here http://codepen.io/hexx/pen/YwNdxb
// tnx to author

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 100%;
    overflow: hidden;
    padding: 1rem 0;
}
input[type=range]::-webkit-slider-runnable-track {
    //height: 0.5rem;
    height: 2px;
    background: #e7e7e7;
    border: none;
    border-radius: 0.5rem;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #208CCC;
    //margin-top: -.25rem;
    margin-top: calc(-.5rem + 1px);
    position: relative;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:before {
  content: '';
  background: #8CD4FF;
  position: absolute;
  left: -900px;
  right: 100%;
  //height: .5rem;
  height: 2px;
  top: calc(.5rem - 1px);
  pointer-events: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e7e7e7;
}


/* TODO Firefox and IE */
input[type=range]::-moz-range-track {
    height: 0.5rem;
    background: #e7e7e7;
    border: none;
    border-radius: 0.5rem;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #208CCC;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    height: 0.5rem;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #63656a;
}
input[type=range]:focus::-ms-fill-lower {
    background: #fcce01;
}
input[type=range]:focus::-ms-fill-upper {
    background: #e7e7e7;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
    width: 100%;
    border: 1px solid #C5C5C5;
    padding: 10px;
}
