.pages-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 200px;
    background: white;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    margin-top: -1px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #E8E8E8;
    border-top: 1px solid white;
    &--active {
        display: block;
    }
    @include bp(allsmall) {
        border-radius: 0;
    }
}

.pages-menu-list {
    @include clear-list;
    li + li {
        // padding-top: 5px;
        // margin-top: 5px;
    }
    &__item {
        display: block;
        padding: 5px 0;
        font-style: italic;
        color: #363636;
        text-decoration: none;
    }
}
