.single-product {
    @include basic-block;
    margin-bottom: $standart-margin-between;
}

.sp-header {
    @include flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/static/images/product-header-back.png);
    background-repeat: repeat-x;
    background-position: center;
}

.sp-title {
    padding: 0 8px 0 0;
    background-color: #fff;
    &__text {
        @include font-size(36);
    }
}

.sp-price-and-buy {
    padding: 0 0 0 8px;
    background-color: #fff;
}

.sp-main-info {
    @include flex;
}

.sp-image {
    box-sizing: border-box;
    width: calc(40% - 10px);
    margin: 10px;
    margin-left: 0;
    padding: 10px;
    &__image {
        border-radius: 3px;
    }
}

.sp-description {
    box-sizing: border-box;
    width: calc(60% - 10px);
    margin: 10px;
    margin-right: 0;
    padding: 10px;
}

.sp-image-nav {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 5px;
}

.sp-image-nav-list {
    @include clear-list;
    @include flex;
    align-items: center;
    justify-content: flex-start;
}

.sp-image-nav-list-item {
    width: calc(20% - 10px);
    margin: 5px;
    padding: 5px;
    &__image {
        cursor: pointer;
        border-radius: 3px;
    }
}
