.top-menu {
    width: 50%;
}

.top-menu-list {
    @include clear-list;
    @include flex;
    justify-content: flex-end;
    &__link {
        display: block;
        padding: 6px 10px;
        color: black;
        text-decoration: none;
        &--cart-count {
            cursor: pointer;
        } // &--cart-count
        &--active {
            color: $link-color;
        }
    } // &__link
}
