<div class="cart-preview-item">
    <div class="cart-preview-item__product">
        <span class="cart-preview-item__name">@@title</span>
    </div>
    <div class="cart-preview-item__price">
        <span class="cart-preview-item__price-value">@@price</span>
        <span class="cart-preview-item__price-currency">@@currency</span>
    </div>
    <div class="cart-preview-item__count" data-front="items-count">
        <span class="cart-preview-item__plus" data-front="items-count-plus">
            <i class="fa fa-plus-circle"></i>
        </span>
        <input data-product-id="3" type="text" class="cart-preview-item__input" value="1" data-front="items-count-input">
        <span class="cart-preview-item__minus" data-front="items-count-minus">
            <i class="fa fa-minus-circle"></i>
        </span>
        <span class="cart-preview-item__remove" data-front="items-count-delete" style="display: none;">
            <i class="fa fa-plus-circle"></i>
        </span>
    </div>
</div>
