<div class="cart-preview" front-role="cart-preview">
    @@include('cart-preview-item.html', {
        "price": "4411",
        "currency": "грн.",
        "title": "Super phone MI4"
    })
    @@include('cart-preview-item.html', {
        "price": "5100",
        "currency": "грн.",
        "title": "Avaphone ZZ110"
    })
    <div class="cart-preview__total">
        In your cart <strong>2</strong> items for <strong>9511</strong> грн.
    </div>
    <div class="cart-preview__order-button">
        <a href="" class="button button--normal">
            <span class="button__text">Make order</span>
        </a>
    </div>
</div>
