<div class="cart-preview" front-role="cart-preview">
    <div class="cart-preview-item">
        <div class="cart-preview-item__product">
            <span class="cart-preview-item__name">Product name</span>
        </div>
        <div class="cart-preview-item__price">
            <span class="cart-preview-item__price-value">4111</span>
            <span class="cart-preview-item__price-currency">грн.</span>
        </div>
        <div class="cart-preview-item__count">
            <span class="cart-preview-item__plus" frontend-role="cart-item-count-plus">
                <i class="fa fa-plus-circle"></i>
            </span>
            <input data-product-id="3" type="text" class="count" data-role="quant" value="5" frontend-role="cart-item-count">
            <span class="cart-preview-item__minus" frontend-role="cart-item-count-minus">
                <i class="fa fa-minus-circle"></i>
            </span>
            <span class="cart-preview-item__remove" frontend-role="cart-item-count-delete" data-value="3" data-role="remove" style="display: none;">
                <i class="fa fa-plus-circle"></i>
            </span>
        </div>
    </div>
</div>
