<div class="catalogue-block" front-role="catalogue-block">
    <div class="catalogue-block-wrap">
        <nav class="catalogue-main-nav">
            <a href="/catalogue.html" class="catalogue-main-nav__item" data-role="sub-tab-trigger" sub-tabTrigger="1">Laptops</a>
            <a href="/catalogue.html" class="catalogue-main-nav__item" data-role="sub-tab-trigger" sub-tabTrigger="2">Smartphones</a>
        </nav>
        <nav class="catalogue-main-content">
            <div class="cat-previews" data-role="sub-tab" sub-tabTrigger="1">
                <a href="/catalogue.html" class="cat-preview">
                    <img src="/static/images/tmp/cat-laptop-bus.jpg" alt="" class="cat-preview__image">
                    <span class="cat-preview__text">For work</span>
                </a>
                <a href="/catalogue.html" class="cat-preview">
                    <img src="/static/images/tmp/cat-laptop-games.jpg" alt="" class="cat-preview__image">
                    <span class="cat-preview__text">For Gamers</span>
                </a>
            </div>
            <div class="cat-previews" data-role="sub-tab" sub-tabTrigger="2">
                <a href="/catalogue.html" class="cat-preview">
                    <img src="/static/images/tmp/cat-sm-def.jpg" alt="" class="cat-preview__image">
                    <span class="cat-preview__text">Sequre smartphoens</span>
                </a>
                <a href="/catalogue.html" class="cat-preview">
                    <img src="/static/images/tmp/cat-sm-ordinary.jpg" alt="" class="cat-preview__image">
                    <span class="cat-preview__text">Ordinary smartphones</span>
                </a>
            </div>
        </nav>
    </div>
</div>
