<div class="catalogue-block" front-role="catalogue-block">
    <div class="catalogue-block-wrap">
        <div class="catalogue-main-nav">
            <ul class="catalogue-main-list">
                <li>
                    <a href="" class="catalogue-main-list__item">Category 1</a>
                </li>
                <li>
                    <a href="" class="catalogue-main-list__item">Category 2</a>
                </li>
            </ul>
        </div>
        <div class="catalogue-main-content">
            asd
        </div>
    </div>
</div>
