<tr class="checkout-list-item">
    <td>@@title</td>
    <td class="checkout-list-item__count">
        <div class="checkout-list-item__count" front-role="items-count">
            <span class="checkout-list-item__plus" front-role="items-count-plus">
                <i class="fa fa-plus-circle"></i>
            </span>
            <input data-product-id="3" type="text" class="checkout-list-item__input" value="1" front-role="items-count-input">
            <span class="checkout-list-item__minus" front-role="items-count-minus">
                <i class="fa fa-minus-circle"></i>
            </span>
            <span class="checkout-list-item__remove" front-role="items-count-delete" style="display: none;">
                <i class="fa fa-plus-circle"></i>
            </span>
        </div>
    </td>
    <td class="checkout-list-item__price">
        <span class="checkout-list-item__currency">$</span>
        <span class="checkout-list-item__price-value">@@price</span>
    </td>
    <td>
        <span class="checkout-list-item__remove">
            <i class="fa fa-plus-circle"></i>
        </span>
    </td>
</tr>
