<div class="filter-box">
    <h3 class="filter-box__title">Sort by brand</h3>
    <ul class="toggle-filters">
        <li>
            <a href="#" class="toggle-filter" data-role="toggle-filter">
                <span class="toggle-filter__text">Apple</span>
            </a>
        </li>
        <li>
            <a href="#" class="toggle-filter" data-role="toggle-filter">
                <span class="toggle-filter__text">Google</span>
            </a>
        </li>
        <li>
            <a href="#" class="toggle-filter" data-role="toggle-filter">
                <span class="toggle-filter__text">Facebook</span>
            </a>
        </li>
    </ul>
</div>

<div class="filter-box" data-role="range-filter">
    <h3 class="filter-box__title">Price limit</h3>
    <label class="range-filter">
        <span class="range-filter__label">Price limit:</span>
        <span class="range-filter__current" data-role="range-label"></span>
    </label>
    <input type="range" data-role="range-input" min="1000" max="10000" step="100" value="8000" >
</div>

<div class="filter-box">
    <h3 class="filter-box__title">Sort by Screen size</h3>
    <ul class="toggle-filters">
        <li>
            <a href="#" class="toggle-filter" data-role="toggle-filter">
                <span class="toggle-filter__text">5,4"</span>
            </a>
        </li>
        <li>
            <a href="#" class="toggle-filter" data-role="toggle-filter">
                <span class="toggle-filter__text">5,7"</span>
            </a>
        </li>
        <li>
            <a href="#" class="toggle-filter" data-role="toggle-filter">
                <span class="toggle-filter__text">6"</span>
            </a>
        </li>
    </ul>
</div>
