<header class="base-header">
    <nav class="logo">1</nav>
    <nav class="top-menu">
        <ul class="top-menu-list">
            <li>
                <a href="" class="top-menu-list__link">About</a>
            </li>
            <li>
                <a href="" class="top-menu-list__link">Warranty</a>
            </li>
            <li>
                <div class="top-menu-list__link top-menu-list__link--cart-count">
                    <span class="icon-cart"></span>
                    <span class="label">12</span>
                </div>
            </li>
        </ul>
    </nav>
</header>
