<div class="main-nav">
    <nav class="logo">
        <a href="/" class="logo__text">Logo</a>
    </nav>
    <a class="catalogue" front-role="catalogue-block-trigger">Catalogue</a>
    <div class="search">
        <span class="search__trigger" front-role="search-trigger">
            <i class="fa fa-search"></i>
        </span>
    </div>
</div>
<nav class="top-menu">
    <ul class="top-menu-list">
        <li>
            <a class="top-menu-list__link" front-role="pages-menu-trigger">
                <i class="fa fa-bars"></i>
            </a>
        </li>
        <li>
            <div class="top-menu-list__link top-menu-list__link--cart-count" front-role="cart-preview-trigger">
                <span class="icon-cart"></span>
                <span class="label">12</span>
            </div>
        </li>
    </ul>
</nav>
