<section class="product-list">
    @@include('product-list-item.html', {
        "title": "Milano tram",
        "price": "34",
        "photo": "/static/images/tmp/milanotram.jpg"
    })
    @@include('product-list-item.html', {
        "title": "Tallin Tram",
        "price": "80",
        "photo": "/static/images/tmp/tallintram.jpg"
    })
    @@include('product-list-item.html', {
        "title": "Prague tram",
        "price": "21",
        "photo": "/static/images/tmp/praguetram.jpg"
    })
    @@include('product-list-item.html', {
        "title": "Torino tram",
        "price": "20",
        "photo": "/static/images/tmp/torinotram.jpg"
    })
</section>
