<section class="product-list" front-role="product-list">
    @@include('product-list-item.html', {
        "title": "Super android phont",
        "price": "34",
        "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
    })
    @@include('product-list-item.html', {
        "title": "Super android phont",
        "price": "34",
        "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
    })
    @@include('product-list-item.html', {
        "title": "Super android phont",
        "price": "34",
        "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
    })
    @@include('product-list-item.html', {
        "title": "Super android phont",
        "price": "34",
        "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
    })
    @@include('product-list-item.html', {
        "title": "Super android phont",
        "price": "34",
        "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
    })
    @@include('product-list-item.html', {
        "title": "Super android phont",
        "price": "34",
        "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
    })
    @@include('product-list-item.html', {
        "title": "Super android phont",
        "price": "34",
        "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
    })
    @@include('product-list-item.html', {
        "title": "Super android phont",
        "price": "34",
        "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
    })
</section>
