<div class="product-item" data-front="product-list-item">
    <figure class="product-image">
        <a href="/single-product.html"><img src="@@photo" alt="" class="product-image__image"></a>
    </figure>
    <h2 class="product-title">
        <a href="/single-product.html" class="product-title__text">@@title</a>
    </h2>
    <div class="product-price-and-buy">
        <div class="product-price">
            <span class="product-price__currency">$</span>
            <span class="product-price__value">@@price</span>
        </div>
        <div class="product-buy">
            <button class="button button--thin">
                <span class="button__icon">
                    <span class="icon-cart"></span>
                </span>
                buy
            </button>
        </div>
    </div>
</div>
