<section class="catalogue-container">
    <nav class="catalogue-filters">
        @@include('toggle-filters.html')
    </nav>
    <section class="catalogue-content">
        <section class="product-list product-list--in-catalogue" data-front="product-list">
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phontas asd asd sad sad ",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/2ndphone/1675700-5.jpg"
            })
            @@include('product-list-item.html', {
                "title": "Super android phont",
                "price": "34",
                "class": "product-item--in-calogue",
                "photo": "/static/images/tmp/1stphone/3778000-1.jpg"
            })
        </section>
    </section>
</section>
