<main class="single-product">
    <header class="sp-header">
        <h2 class="sp-title">
            <div class="sp-title__text">Milano tram</div>
        </h2>
        <div class="sp-price-and-buy">
            <div class="price-tag">
                <span class="product-price__currency">$</span>
                <span class="product-price__value">349</span>
            </div>
        </div>
    </header>
    <section class="sp-main-info">
        <figure class="sp-image">
            <img src="/static/images/tmp/milanotram-big.jpg" alt="" class="sp-image__image">
        </figure>
        <div class="sp-description">
            <nav class="sp-image-nav">
                <ul class="sp-image-nav-list">
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb1.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb2.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb3.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                </ul>
            </nav>
            <article class="description">
                <p>
                    A tram (also known as tramcar; and in North America known as streetcar, trolley or trolley car), is a rail vehicle which runs on tracks along public urban streets (called street running), and also sometimes on a segregated right of way.[1] The lines or networks operated by tramcars are called tramways. Tramways powered by electricity, the most common type historically, were once called electric street railways. However, trams were widely used in urban areas before the universal adoption of electrification; other methods of powering trams are listed below under "History".
                </p>
            </article>
        </div>
    </section>
    <section class="product-block">
        <h3 class="product-block-title">
            <span class="product-block-title__text">Characteristics</span>
        </h3>
        <div class="product-block-content">
            <table class="specs">
                <tr>
                    <td class="specs-key">Some thing</td>
                    <td class="specs-value">Value</td>
                </tr>
                <tr>
                    <td class="specs-key">Some thing</td>
                    <td class="specs-value">Value</td>
                </tr>
                <tr>
                    <td class="specs-key">Some thing</td>
                    <td class="specs-value">Value</td>
                </tr>
                <tr>
                    <td class="specs-key">Some thing</td>
                    <td class="specs-value">Value</td>
                </tr>
                <tr>
                    <td class="specs-key">Some thing</td>
                    <td class="specs-value">Value</td>
                </tr>
            </table>
        </div>
    </section>
</main>
