<main class="single-product">
    <header class="sp-header">
        <h2 class="sp-title">
            <div class="sp-title__text">Milano tram</div>
        </h2>
        <div class="sp-price-and-buy">
            <div class="price-tag price-tag--big">
                <span class="product-price__currency">$</span>
                <span class="product-price__value">349</span>
            </div>
            <div class="sp-buy">
                <button class="button button--thin">
                    <span class="button__icon">
                        <span class="icon-cart"></span>
                    </span>
                    buy
                </button>
            </div>
        </div>
    </header>
    <section class="sp-main-info">
        <figure class="sp-image">
            <img src="/static/images/tmp/milanotram-big.jpg" alt="" class="sp-image__image">
            <nav class="sp-image-nav">
                <ul class="sp-image-nav-list">
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb1.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb2.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb3.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb1.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb2.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb3.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb1.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb2.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                    <li class="sp-image-nav-list-item">
                        <img src="/static/images/tmp/thumb3.jpg" alt="" class="sp-image-nav-list-item__image">
                    </li>
                </ul>
            </nav>
        </figure>
        <div class="sp-description">
            <article class="description">
                <p>
                    A tram (also known as tramcar; and in North America known as streetcar, trolley or trolley car), is a rail vehicle which runs on tracks along public urban streets (called street running), and also sometimes on a segregated right of way.[1] The lines or networks operated by tramcars are called tramways. Tramways powered by electricity, the most common type historically, were once called electric street railways. However, trams were widely used in urban areas before the universal adoption of electrification; other methods of powering trams are listed below under "History".
                </p>
            </article>
        </div>
    </section>
    <section class="product-block">
        <h3 class="product-block-title">
            <span class="product-block-title__text">Characteristics</span>
        </h3>
        <div class="product-block-content">
            <table class="specs">
                <tr>
                    <td class="specs-key">Some thing</td>
                    <td class="specs-value">Value</td>
                </tr>
                <tr>
                    <td class="specs-key">Some thing</td>
                    <td class="specs-value">Value</td>
                </tr>
                <tr>
                    <td class="specs-key">Some thing</td>
                    <td class="specs-value">Value</td>
                </tr>
                <tr>
                    <td class="specs-key">Some thing</td>
                    <td class="specs-value">Value</td>
                </tr>
                <tr>
                    <td class="specs-key">Some thing</td>
                    <td class="specs-value">Value</td>
                </tr>
            </table>
        </div>
    </section>
</main>
<aside>
    @@include('section-title.html', {"title": "Relevant items"})
    <section class="product-list" data-front="product-list">
        @@include('product-list-item.html', {
            "title": "Milano tram",
            "price": "34",
            "photo": "/static/images/tmp/milanotram.jpg"
        })
        @@include('product-list-item.html', {
            "title": "Tallin Tram",
            "price": "80",
            "photo": "/static/images/tmp/tallintram.jpg"
        })
        @@include('product-list-item.html', {
            "title": "Prague tram",
            "price": "21",
            "photo": "/static/images/tmp/praguetram.jpg"
        })
        @@include('product-list-item.html', {
            "title": "Torino tram This is a super awesome trma on the planet",
            "price": "20",
            "photo": "/static/images/tmp/torinotram.jpg"
        })
    </section>
</aside>
