<div class="filter-box">
    <ul class="toggle-filters">
        <li>
            <a href="#" class="toggle-filter" data-role="toggle-filter">
                <span class="toggle-filter__text">Apple</span>
            </a>
        </li>
        <li>
            <a href="#" class="toggle-filter" data-role="toggle-filter">
                <span class="toggle-filter__text">Google</span>
            </a>
        </li>
        <li>
            <a href="#" class="toggle-filter" data-role="toggle-filter">
                <span class="toggle-filter__text">Facebook</span>
            </a>
        </li>
    </ul>
</div>
