$base-block-padding-small: 20px;
$base-block-padding-medium: 60px;
$base-block-padding-large: 80px;

@mixin basic-block {
    @include bp(allsmall) {
        padding-left: $base-block-padding-small;
        padding-right: $base-block-padding-small;
    }
    @include bp(md) {
        padding-left: $base-block-padding-medium;
        padding-right: $base-block-padding-medium;
    }
    @include bp(lg) {
        padding-left: $base-block-padding-large;
        padding-right: $base-block-padding-large;
    }
}
