$text-color: #5A5A5A;
$link-color: #2CA7FF;
$standart-margin-between: 30px;
$button-color: #2CA7FF;
$button-color-hover: #2D92DC;
$button-color-push: #1D7ABD;
$button-text-color: white;

body {
    line-height: 150%;
    background: #fff;
    font-family: Helvetica, Arial, serif;
    position: relative;
    color: $text-color;
    padding: 0;
    margin: 0;
    &.open-menu {
        overflow: hidden;
    } // &.open-menu
    @include bp(xs) {
        @include font-size(20);
    } // xs
    @include bp(sm) {
        @include font-size(20);
    } // sm
    @include bp(md) {
        @include font-size(18);
    } // md
    @include bp(lg) {
        @include font-size(18);
    } // lg
} // body

img {
    display: block;
    max-width: 100%;
    vertical-align: top;
} // img

a {
    color: $link-color;
    @include transition(all, 0.3s, ease);
    cursor: pointer;
    &:hover {
        text-decoration: none;
    } // &:hover
} // a

fieldset {
    border: none;
    padding: 0;
    margin: 0;
} // fieldset

h1, h2, h3, h4, h5 {
    font-weight: normal;
    line-height: 1;
} // h1, h2, h3, h4, h5

button {
    border: none;
    background: none;
}

figure {
    margin: 0;
}

div, input, textarea, select,button, h1, h2, h3, h4, h5, h6,
a, a:focus, span {
    outline: none;
} // div, input, textarea, select,button, h1, h2, h3, h4, h5, h6, a, a:focus, span
